<h1>Recipes</h1>


<%= button_to "New Recipe", new_recipe_path, method: 'get' %>

<ul>
    <% @recipes.each do |recipe| %>
    <li><%= link_to recipe.title, recipe_path(recipe) %></li>
    <% end %>
</ul>