<h1>Ingredients</h1>

<% ranked_ingredients = @ingredients.sort_by{|i| -i.allergy_count} %>

<ul>
    <% ranked_ingredients.each do |ingr| %>
        <li><%= link_to "#{ingr.name} (#{ingr.allergy_count} allergic)", ingredient_path(ingr) %></li>
    <% end %>
</ul>